/* theme.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme defaults */
    --bg-color: #ffffff;        /* light grey */
    --text-color: #1f1f1f;
    --primary-color: #9ca3af;   /* grey-500 */
    /* --shiny-gradient: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%); */
  }

  [data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #1f1f1f;
    --primary-color: #9ca3af;
    --card-bg: #e3eaf5;
  }

  [data-theme="dark"] {
    --bg-color: #0f1f44;        /* navy blue */
    --text-color: #f3f4f6;
    --primary-color: #4f46e5;   /* indigo-600 */
    --card-bg: #1e293b; /* slate-800 */
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Space Grotesk", sans-serif;
  }

  h2 {
    @apply text-xl md:text-4xl;
  }

  p {
    @apply text-xl tracking-tight leading-relaxed;
  }

  span {
    color: var(--primary-color);
  }

  .bg-primary-color {
    background-color: var(--primary-color);
  }

  .shiny-effect {
    background: var(--shiny-gradient);
  }
}
